body {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	border-bottom: 1px solid black;
	display: inline-flex;
	position: relative;
	flex-wrap: nowrap;
	width: 100%;
}

#heading, .featured-work-header {
	text-transform: uppercase;
}

.logo_wrapper {
	justify-content: flex-start;
	width: 75%;
}

#logo {
	width: 10%;
	padding: 3%;
}

.project_text {
	text-transform: uppercase;
	color: #2F4F4F;
	padding-left: 40%;
	padding-top: 3%;
}

.main_headings {
	width: 25%;
	justify-content: flex-end;
	padding: 1.5%;
}

.main_picture {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.main_image {
	height: 70%;
	padding-top: 2%;
}

.featured-work-projects {
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	position: relative;
}

.project {
	width: 32%;
	height: 200px;
	position: relative;
	padding-left: 1%;
}

.project_image {
	width: 100%;
	padding-bottom: 3%;
	border: 1px solid #b1a296;
	opacity: 0.7;
}

.featured-work-header {
	display: flex;
	width: 80%;
	justify-content: flex-start;
}

.featured-work-header {
	padding-left: 5%;
}

.footer {
	background-color: #b1a296;
	height: 110px;
	display: flex;
	width: 100%;
}

.authorship {
    width: 60%;
    padding-left: 5%;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social_links {
	width: 25%;
    font-size: 40px;
    color: #1f2833;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project_image:hover {
	opacity: 1;
}
/*Responsive queries*/

@media screen and (min-width: 601px){
	.main {
		margin-left: 5%;
		margin-right: 5%;
	} 

	.main_picture {
		justify-content: center;
	}

	.main_image {
		width: 98%;
		height: 450px;
	}

	#logo {
		width: 113px;
		justify-content: flex-start;
	}

	.footer {
		margin-top: 45px;
	}

	.social_links {
		padding-left: 5%;
	}

	.project_text {
		padding-left: 30%;
	}
}

@media screen and (min-width: 376px) and (max-width: 600px){
	.main_headings h1 {
		font-size: 26px;
	}

	.logo_div {
		width: 30%;
	}

	.main_headings {
		width: 40%;
		padding-left: 30%;
	}

	#logo {
		width: 60%;
		justify-content: flex-start;
		
	}

	.main_picture {
		width: 100%;
		display: flex;
	}

	.main_image {
		width: 98%;
		height: 150px;
		justify-content: center;
	}

	#featured-work-text {
		font-size: 24px;
		padding-left: 5%;
	}

	.project {
		width: 100%;
		height: auto;
		padding-bottom: 5%;
	}

	.project_text {
		font-size: 16px;
		padding-left: 10%;

	}

	.social_links {
		padding-left: 5%;
		font-size: 26px;
		width: 40%;
	}

	
	.authorship {
		width: 60%;
		font-size: 16px;
	}
}

@media screen and (max-width: 375px){
	.main_headings {
		justify-content: flex-end;
		width: 80%;
	}

	#heading, #job_title {
		font-size: 95%;
	}

	.logo_div {
		width: 30%;
	}


	#logo {
		width: 60%;
		justify-content: flex-start;
		
	}

	.main_picture {
		width: 100%;
		display: flex;
	}

	.main_image {
		width: 100%;
		justify-content: center;
	}

	#featured-work-text {
		font-size: 16px;
		padding-left: 10%;
	}

	.project {
		width: 100%;
		height: auto;
		padding-bottom: 5%;
	}

	.project_text {
		font-size: 14px;

	}

	.project_image {
		padding-bottom: 0px;
	}

	.social_links {
		font-size: 20px;
	    width: 65%;
	    padding-left: 25%;
	    padding-top: 10%;
	}

	.social_links {
		padding-right: 16px;
	}

	.authorship {
		width: 40%;
		font-size: 15px;
	}
}